* {
    font-family: "Optima", sans-serif;
    font-weight: 200;
    color: #000;

}


#background header{
    text-align: center;
    font-variant: small-caps;
}    

.popup {
    position: absolute;
    background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url('https://wallpaperaccess.com/full/1843875.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

#start-header {
    font-family: 'Lobster', sans-serif;
    font-size: 96px;
    padding: 15px 15px 0 15px;
    margin: 18% 0 0 0;
    scale: 0.8;
}

#get-started {
    margin: 0 0 0 9%;
    cursor: pointer;
    animation: pulse 1s linear infinite;
}

header {
    height: 124px;
    margin-bottom: 24px;
}

#background header h2 {
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 96px;
}

#background.open {
    transition: 3s right ease-in-out;
    right: 0;

}

#background footer {
    font-variant: small-caps;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.75);
    padding: 1rem;
    margin-top: auto;
}
/* footer.h3{
    margin: 0;
} */

#background {
    background-image: url('https://c1.wallpaperflare.com/path/728/773/157/table-fabric-plaid-red-26861886eb198dc7d73da3a706186c85.jpg');
    background-size: cover;
    min-height: 100vh;
    position: fixed;
    bottom: 0;
    right: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    display:flex;
    flex-direction: column;

}

#form-selection {
    display: flex;
    justify-content: center;
    height: 300px;
}

#form-buttons {
    width: 35%;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(206, 206, 206, 0.75);
    position: relative;
    margin-bottom: 25px;
}
#forms {
    width: 35%;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(206, 206, 206, 0.75);
    position: relative;
    margin-bottom: 25px;
}

.form-buttons {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 25px auto;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow .15s,transform .15s;
    font-size: 18px;
}

#submit {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    transition: box-shadow .15s,transform .15s;
    font-size: 18px;
    font-weight: bold;
}

#reset {
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow .15s,transform .15s;
    font-size: 12px;
    height: max-content;
    margin-top: 10%;
    margin-left: 87%;
    position: static;
}

.form-buttons:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-buttons:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.form-buttons:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#submit:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#submit:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#submit:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#reset:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#reset:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#reset:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

form {
    font-size: 24px;
    position: relative;
    margin-top: 15%;
    margin-left: 100px;
    margin-bottom: 14px;
    display: none;
}

#make-selection {
    text-align: center;
    margin-top: 95px;
}

#make-selection h2 {
    font-weight: bold;
}

#ingredient-search-form {
    /* margin-left: 15px; */
    /* display: flex;*/
    justify-content: center; 
    text-align: center;
    
}

#category-search-form {

    /* a */
    justify-content: center;

}

.meal-container {
    width: 60%;
    background: rgb(235, 235, 235);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #000;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
    /* scrollbar-gutter: auto;
    scrollbar-width: thin; */
}

.meal-container h2 {
    text-align: left;
    margin-left: 7px;
    font-weight: bold;
    font-variant: small-caps;
}

.meal-container #food-img {
    float: left;
    width: 50%;
    border: 3px solid #000;
    border-radius: 20px;
}

.meal-container ul {
    float: right;
    width: 40%;
    display: grid;
    text-align: left;
    font-weight: bold;
}

.meal-container li {
    font-weight: bold;
}

.meal-container p {
    float: left;
    text-align: left;
    clear: both;
}

.open-meal-container {
    background: rgb(235, 235, 235, 0.85);
    visibility: visible;
    position: fixed;
    top: 50%;
    height: 85%;
    transform: translate(-50%, -50%) scale(1);
    overflow-y: auto;
    filter: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 16px 32px, rgba(45, 35, 66, 0.3) 0 28px 52px -12px;
}

.background {
    filter: blur(5px);
}

#close {
    float: right;
    height: 45px;
    width: 45px;
    padding: 2px 5px;
    /* justify-content: flex-end; */
    margin-top: 10px;
    cursor: pointer;
}

#meals-list {
    text-align: center;
}

#meals-list img {
    height: 150px;
    width: 150px;
    float: center;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: rgba(45, 35, 66, 0.4) 0 16px 32px, rgba(45, 35, 66, 0.3) 0 28px 52px -12px;
    margin: 25px;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

#meals-list img:hover {
    scale: 1.15;
    transform: translateY(-2px);
    box-shadow: rgba(255, 255, 255, 0.5) 0 8px 16px, rgba(255, 255, 255, 0.5) 0 14px 26px -6px;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fdfdfd68;
    margin-block: 10px;
    border-radius: 15px; 
    margin-top: 15px;
    margin-bottom: 15px;
    scroll-padding-right: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(153, 0, 0, 0.7); 
    margin-block: 10px;
    border-radius: 15px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(110, 0, 0, 0.7); 
    margin-block: 10px;
    border-radius: 15px; 

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
       -webkit-transform: scale(0.8);
       transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
    }

}